.task-menu{

    position: absolute;
    top: 35px;
    right: 10px;
    width: 170px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0,0,0,.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.task-menu button{

    border: none;
    background: none;
    padding: 12px;
    text-align: left;
    cursor: pointer;
}

.task-menu button:hover{
    background: #f3f3f3;
}

.delete{
    color: #d32f2f;
}