.Board{
    display:flex;
    gap:20px;
    overflow-x:auto;
    overflow-y:hidden;

    align-items:flex-start;
}
@media (max-width:768px){

    .Board{
        flex-direction:column;
        align-items:center;
    }

}